:root {
  --contexify-zIndex: 666;
  --contexify-menu-minWidth: 220px;
  --contexify-menu-padding: 6px;
  --contexify-menu-radius: 6px;
  --contexify-menu-bgColor: #fff;
  --contexify-menu-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1),
    2px 4px 4px rgba(0, 0, 0, 0.1), 3px 6px 6px rgba(0, 0, 0, 0.1);
  --contexify-menu-negatePadding: var(--contexify-menu-padding);
  --contexify-separator-color: rgba(0, 0, 0, 0.2);
  --contexify-separator-margin: 5px;
  --contexify-itemContent-padding: 6px;
  --contexify-activeItem-radius: 4px;
  --contexify-item-color: #333;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #3498db;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff;
}

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset; /* 모든 속성을 초기화 */
  display: revert; /* display 속성은 기본값으로 복원 */
}

/* 박스 모델 설정 */
*,
*::before,
*::after {
  box-sizing: border-box; /* 박스 크기 계산 방식 설정 */
}

/* 기본 폰트 설정 */
body {
  line-height: 1.5; /* 읽기 쉬운 줄 높이 설정 */
  -webkit-font-smoothing: antialiased; /* 텍스트 렌더링 개선 */
}

/* 이미지 및 비디오 설정 */
img,
picture,
video,
canvas,
svg {
  display: block; /* 블록 요소로 설정 */
  max-width: 100%; /* 컨테이너를 넘지 않도록 설정 */
}

/* 리스트 스타일 초기화 */
ol,
ul,
menu {
  list-style: none; /* 리스트 스타일 제거 */
}

/* 입력 및 버튼 스타일 초기화 */
input,
button,
textarea,
select {
  font: inherit; /* 기본 폰트 상속 */
}

/* 텍스트 오버플로우 방지 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; /* 단어가 줄 바꿈되도록 설정 */
}

/* 루트 스태킹 컨텍스트 생성 */
#root,
#__next {
  isolation: isolate; /* 스태킹 컨텍스트 생성 */
}
